version: '3.8'

services:
  # WebSocket 伺服器
  wsserver:
    # 指定 build 上下文為 backend 資料夾，Docker 會自動去找裡面的 Dockerfile
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: dev # 使用 Dockerfile 裡的 dev 階段 (含 Air)

    # 掛載 Volumes: 讓本機的 backend 資料夾直接對應到容器內的 /app
    # 這樣你改本機檔案，容器內就會變
    volumes:
      - ./backend:/app

    # 這裡就是 "Port Mapping"
    # 左邊 8080 是您電腦(Host)的 Port
    # 右邊 8080 是容器(Container)裡面程式聽的 Port
    ports:
      - "8080:8080"
    environment:
      - APP_ENV=local
      - PORT=8080
      - AIR_BIN=wsserver
    depends_on:
      - mysql
      - redis
    networks:
      - slot-backend

  api:
    build:
      context: ./backend
      target: dev
    ports:
      - "8081:8081"
    environment:
      - APP_ENV=local
      - API_PORT=8081
      - AIR_ENTRY=./cmd/api
      - AIR_BIN=api
    volumes:
      - ./backend:/app
    depends_on:
      - mysql
      - redis
    networks:
      - slot-backend

  mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: slot_db
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql
      - ./backend/scripts/db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - slot-backend

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8088:80"
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - mysql
    networks:
      - slot-backend

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
    networks:
      - slot-backend

# 定義一個專用網路，讓服務之間互通，但外界(您的電腦)除了 Ports 指定的開口外無法進入
networks:
  slot-backend:
    driver: bridge

volumes:
  db-data:
